<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
		<div class="col-lg-3 col-sm-6">

            <div class="card hovercard">
                <div class="cardheader">

                </div>
                <div class="avatar">
                    <img alt="" src="https://scontent.fbom2-1.fna.fbcdn.net/v/t1.0-9/14040024_10205145766402935_1922086762734132312_n.jpg?oh=837f4fce792af3de652d246f1f413730&oe=5A0A5265">
                </div>
                <div class="info">
                    <div class="title">
                        <a target="_blank" href="http://scripteden.com/">{{user.username}}</a>
                    </div>
                    <div class="desc">{{user.bio}}</div>
                    <div class="desc">{{user.email}}</div>
                </div>
                
            </div>

        </div>

	</div>
</div>